* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* setting the background color of the entire page*/
body {
    background-color: #d9dcd6;
}

/*setting default font and background color of the headers*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*setting default font, position, and background color of the company logo*/
.header h1 {
    display: inline-block;
    font-size: 48px;
    color:#d9dcd6;  
}

/* defining the font within the header logo */
.seo {
    color: #d9dcd6;
}

/* defining the margins and spacing around the header */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* setting the position of the nav panel buttons */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* setting the color and decoration of the links in nav panel */
a {
    color: #ffffff;
    text-decoration: none;
}

/* setting the font size of the paragraghs */
p {
    font-size: 16px;
}

/* setting position, fonts, and size of the image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* setting container metrics that holds the search results content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* positioning the image within the search optimization section */
.float-left {
    float: left;
    margin-right: 25px;
}

/* positioning the image within the online reputation management section */
.float-right {
    float: right;
    margin-left: 25px;
}

/* container for the benefits section aside */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}
    /* setting the margin got the three divs in the benefit container */
.benefit-lead, 
.benefit-brand, 
.benefit-cost {
    margin-bottom: 32px;
 }

/* setting position for header in each div within container */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* defining position of image for benefit divs */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* defining position for content divs,font family and color */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* setting size for images within content divs */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* defining font size and margin for header within divs in content container */
.search-engine-optimization h2,
.online-reputation-management h2
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* setting parameters for footer div */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* setting font size for header within footer */
.footer h2 {
    font-size: 20px;
}

